<section class="module margin-top--lg">
    <nav>
        <a class="button whtie box small" href="#work">Go Back</a>
    </nav>
</section>

<section class="module portfolio">
    <img class="full-width" src="/images/work/large/{{image}}" alt="{{name}}">
    <h1 class="title">{{name}}</h1>
    <p>{{description}}</p>
    <p>
        <strong>Website:</strong> <a href="{{url}}" target="_blank">{{name}}</a>
    </p>
    <p>
        <strong>Client:</strong>
      {{#each client}}
          <a href="{{url}}" target="_blank">{{name}}</a>
      {{/each}}
    </p>
    <p><strong>My Role: </strong>{{information}}</p>
</section>
