<section class="module margin-vertical--xl text-align--center">
    <nav>
        <a class="btn btn-secondary font-size--smaller display--inline-block" href="#" data-action="go-back">Go Back</a>
    </nav>
</section>

<section class="module portfolio text-align--center">
    <img class="full-width" src="/images/work/large/{{image}}" alt="{{name}}">
    <h1 class="title">{{name}}</h1>
    <p>{{description}}</p>
    <p>
        <strong>Website:</strong> <a href="{{url}}" target="_blank">{{name}}</a>
    </p>
    <p>
        <strong>Client:</strong>
      {{#each client}}
          <a href="{{url}}" target="_blank">{{name}}</a>
      {{/each}}
    </p>
    <p><strong>My Role: </strong>{{information}}</p>
</section>
